:root {
    --primary-color: #113f73;
    --secondary-color: #2466b0;
    --button-text-color: #fff;
    --button-hover-color: #235fa2;
    --edit-button-color: #3dd01e;
    --pagination-link-color: #333;
    --pagination-link-hover-color: #f0f0f0;
    --pagination-active-background: #007bff;
    --pagination-active-color: #e5d1d1;
    --pagination-disabled-background: #eee;
    --pagination-disabled-color: #777;
    --delete-modal-border: #ccc;
    --delete-modal-title-color: #000;
    --delete-modal-delete-button-background: #e74c3c;
    --hover-blue: #0056b3;
    --background-white: #FFFFFF;
    --text-dark: #131313;
    --red: #FF0000FF;
    --text-light: #e5e7eb;
    --box-shadow1: 0px 2px 1px -1px rgba(0, 0, 0, 0.2);
    --box-shadow2: 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
    --box-shadow3: 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    --text-color: rgba(0, 0, 0, 0.87);
    --border-color: #0000FFFF;
    --background-image: radial-gradient(circle at 50% 14em, #87878c 0%, #ffffff 60%, #ffffff 100%);
    --primary-colors: #1a3ea5;
    --secondary-colors: #606f9d;
    --background-color: #efefef;
    --button-box-shadow-color: rgba(2, 2, 2, 0.11);
    --text-colors: #626777;
    --heading-color: #282B36;
    --link-background: #ffd078;
    --info-color: #33D185;
    --secondary-grey-color: #6b7280;
    --primary-bg-color: #ededed;
    --box-shadow-color-1: rgba(255, 255, 255, 0.25);
    --box-shadow-color-2: rgba(0, 0, 0, 0.25);
    --primary-bg-gry-color: #444444;
    --hover-color: #3eb5e0;
    --menu-bg-color: #6b7182;
    --dropdown-bg-color: #000000a3;
    --text-col: #282b364a;
    --text-color-ld: #d5d2d2;
    --secondary-bg-color: #f2f2f2;
    --primary-text-color: #333333;
    --secondary-text-color: #666666;
    --accent-color: #0077cc;
    --box-shadow-color-9: rgba(0, 0, 0, 0.15);
    --open-box-shadow-color: rgba(0, 0, 0, 0.08);
    --main-background-color: #6b6d6d;
    --line-background-color: #131818;
    --stand-background-color: linear-gradient(to top, #6b6d6d, #515454);
    --arm-background-color: #515454;
    --text-lor: #796b6b;
}
